<h2>More details</h2>
<div style="display: flex;">
<div>
    <img src="{{moviesDetails.image}}" />
</div>
<div style="margin-left: 30px;">
<h1>{{moviesDetails.title}}</h1>
<h2>{{moviesDetails.director}}</h2>
<h3>Stars</h3>

<li>{{moviesDetails.stars}}</li>

<p>{{moviesDetails.description}}</p>
<p>{{moviesDetails.showtimes}}</p>
</div>
</div>
